*{ 
    box-sizing: border-box;
}

body{
    margin: 0 40px;
    font-family: sans-serif;
    background-color: rgb(31, 29, 29);
}

.link{
    color: #fff;
    text-decoration: none;
    margin: 20px 40px;
    font-size: 20px;
}

.link:hover{    
    color: black;
}

p{
    color: white;
    font-size: 16px;
}
form, input, button{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}
button{
    background-color: rgb(31, 29, 29);
    color: white;
    font-family: sans-serif;
    padding: 8px;
    border: none;
}
input, button:focus{
    outline: none;
}
button:hover{
    color: rgb(238, 119, 23);
    border: 2px solid goldenrod;
}

